<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .inline-elements {
        display: flex;
        align-items: center;
    }
    .input-large {
        width: 60%;
    }
    .btn-mobile {
        padding: 0.25rem 0.5rem; /* 패딩 줄이기 */
        font-size: 0.7rem; /* 폰트 사이즈 줄이기 */
    }
    .small-font {
        font-size: 13px;
    }
</style>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>

    <!--    <div class="jumbotron">-->
    <h2>개인정보m</h2>
    <br>
    <a>학번</a>
    <a>[[${loginStudent.stuId}]]</a>
    <br><br>
    <a>이름</a>
    <a>[[${loginStudent.name}]]</a>
    <br><br>
    <a>전화번호</a>
    <a>[[${loginStudent.phoneNumber}]]</a>
    <br><br>
    <a>이메일 주소</a>
    <div class="inline-elements">
        <input disabled th:value="${loginStudent.email}" class="form-control small-font" style="width: 80%">
        &nbsp;
        <a href="/changeInfo/email" class="btn btn-outline-warning btn-mobile">변경</a>
    </div>
    <br><br><hr/><br>
    <h2>비밀번호 변경</h2>
    <br>

    <div class="d-flex justify-content-start">
        <a>현재 비밀번호</a> &nbsp;&nbsp;
        <div th:if="${isPasswordChecked}">
            <img th:src="@{'/images/check_m.png'}">
        </div>
        <div th:unless="${isPasswordChecked}">
            <img th:src="@{'/images/checkX_m.png'}">
        </div>
    </div>

    <form th:method="post" th:action="|/changeInfo/verify/password|" class="form-inline">

        <div class="inline-elements">
             <input th:disabled="${isPasswordChecked}" type="password" th:id="password" th:name="password"  class="form-control small-font"
                       th:attr="placeholder=${isPasswordChecked} ? '비밀번호가 동일합니다' : '현재 비밀번호를 입력하세요'" style="width: 80%">
            &nbsp;

            <button th:disabled="${isPasswordChecked}" type="submit"
                    th:class="${isPasswordChecked} ? 'btn btn-success btn-mobile' : 'btn btn-outline-danger btn-mobile'">
                입력
            </button>
        </div>
    </form>
    <br>

    <div class="d-flex justify-content-start">
        <a>이메일 인증</a> &nbsp;&nbsp;
        <div th:if="${isEmailChecked}">
            <img th:src="@{'/images/check_m.png'}">
        </div>
        <div th:unless="${isEmailChecked}">
            <img th:src="@{'/images/checkX_m.png'}">
        </div>
    </div>

    <form th:method="post" th:action="|/changeInfo/verify/email|" class="form-inline">

        <div class="inline-elements">
            <input disabled class="form-control input-large small-font" th:placeholder="${loginStudent.email}" style="width: 80%">
            <input type="hidden" th:id="email" th:name="email" th:value="${loginStudent.email}">
            &nbsp;
            <div th:if="${!isPasswordChecked}">
                <button disabled type="submit" class="btn btn-outline-secondary btn-mobile">전송</button>
            </div>
            <div th:if="${isPasswordChecked}">
                <button th:disabled="${!isPasswordChecked}" type="submit"
                        th:class="${isEmailSent} ? 'btn btn-success btn-mobile' : 'btn btn-outline-danger btn-mobile'">전송</button>
            </div>

        </div>
    </form>

    <br>
    <form th:method="post" th:action="|/changeInfo/verify/email/code|" class="form-inline">

        <div class="inline-elements">
            <input th:disabled="${!isEmailSent}" th:id="code" th:name="code"  class="form-control input-large small-font"
                       placeholder="이메일로 전송된 인증 문자를 입력하세요" style="width: 80%">
            &nbsp;
            <div th:if="${!isEmailSent}">
                <button disabled type="submit" class="btn btn-outline-secondary btn-mobile">인증</button>
            </div>
            <div th:if="${isEmailSent}">
                <button type="submit"
                        th:class="${isEmailChecked} ? 'btn btn-success btn-mobile' : 'btn btn-outline-danger btn-mobile'">인증</button>
            </div>
        </div>
    </form>

    <br>

    <div style="text-align: right">
        <!-- isEmailChecked가 true일 때 -->
        <a href="/changeInfo/changePassword" class="btn btn-success btn-sm" th:if="${isEmailChecked}">다음으로</a>
        <!-- isEmailChecked가 false일 때 -->
        <span class="btn btn-outline-secondary disabled-link btn-sm" th:if="${!isEmailChecked}">다음으로</span>
    </div>



    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>


<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>