<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<body class="h-full">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>

<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 flex items-center">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">이메일 변경</h1>
    </div>
</header>

<main>
    <article class="flex justify-center mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <div class="bg-white shadow-lg rounded-lg p-6" style="width: 80%;">
            <form th:method="post" th:action="|/changeInfo/email|" th:object="${emailForm}" class="mb-4">
                <label th:for="email" class="block text-lg font-semibold mb-2">이메일 주소</label>
                <div class="inline-elements">
                    <input type="text" th:field="*{email}" th:errorclass="error-input" class="form-control border border-gray-300 rounded-md p-2"
                           placeholder="이메일 주소를 입력하세요. (예시 : test@gmail.com)" style="width: 60%">
                    &nbsp;
                    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition duration-200 transform transition-transform duration-300 hover:translate-y-[-3px]">인증</button>
                </div>
                <div class="error-class" th:errors="*{email}"></div>
            </form> <br>
            <form th:if="${isSent}" th:method="post" th:action="|/changeInfo/email/verify?email=${emailForm.getEmail()}|" class="mb-4">
                <label th:for="code" class="block text-lg font-semibold mb-2">인증 문자</label>
                <div class="inline-elements">
                    <input type="text" th:id="code" th:name="code" class="form-control border border-gray-300 rounded-md p-2" placeholder="입력한 이메일로 전송된 인증 문자를 입력하세요." style="width: 60%">
                    &nbsp;
                    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition duration-200 transform transition-transform duration-300 hover:translate-y-[-3px]">확인</button>
                </div>
            </form>
        </div>

    </article>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="/js/change_email.js"></script>
</html>

<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>
