<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<body class="h-full">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
<link rel="stylesheet" href="/css/change_password.css"/>
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 flex items-center">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">비밀번호 변경 (2/2)</h1>
        <div class="ml-6">
            <div class="h-1 w-24 bg-blue-600 mb-1"></div>
            <div class="flex justify-start text-blue-600 text-sm">Step 1</div>
            <div class="flex justify-start text-gray-600 text-sm">개인 정보 확인</div>
        </div>

        <div class="ml-6">
            <div class="h-1 w-24 bg-blue-600 mb-1"></div>
            <div class="flex justify-start text-blue-600 text-sm">Step 2</div>
            <div class="flex justify-start text-gray-600 text-sm">비밀번호 변경</div>
        </div>
    </div>
</header>

<main class="mt-20 mb-20 p-6 max-w-2xl mx-auto bg-white rounded-lg shadow-md">
    <div class="mb-8">
        <label class="text-lg font-semibold text-gray-700">비밀번호 변경</label>
        <form th:method="post" th:action="|/changeInfo/changePassword|" th:object="${request}" class="flex flex-col space-y-6 mt-4">
            <div>
                <label th:for="changePassword" class="text-sm text-gray-600">변경 비밀번호</label>
                <input type="password" th:field="*{changePassword}" th:errorclass="error-input"
                       class="form-control border rounded-lg p-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                       placeholder="비밀번호를 입력하세요">
                <div class="text-red-500 mt-1" th:errors="*{changePassword}"></div>
            </div>

            <div>
                <label th:for="changePasswordCheck" class="text-sm text-gray-600">변경 비밀번호 체크</label>
                <input type="password" th:field="*{changePasswordCheck}" th:errorclass="error-input"
                       class="form-control border rounded-lg p-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500"
                       placeholder="비밀번호를 한번 더 입력하세요">
                <div class="text-red-500 mt-1" th:errors="*{changePasswordCheck}"></div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-outline-success bg-blue-500 text-white rounded-lg px-4 py-2 hover:bg-blue-600 transition duration-200">
                    비밀번호 변경
                </button>
            </div>
        </form>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
