<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .table {
        table-layout: fixed;
    }

    .table td:nth-child(1) {
        width: 27%; /* 첫 번째 열의 너비 */
    }

    .table td:nth-child(2) {
        width: 73%; /* 두 번째 열의 너비 */
    }
</style>
<style>
    .말풍선 {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 10px;
        margin-top: 1px;
        margin-bottom: 5px;
        word-wrap: break-word;
    }
</style>
<style>
    .form-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form-group {
        flex-grow: 1;
        margin-right: 10px; /* 댓글 작성 칸과 버튼 사이의 간격 조정 */
    }
    .btn-primary{
        flex-shrink: 0;
    }
</style>
<style>
    .btn-mobile {
        padding: 0.25rem 0.5rem; /* 패딩 줄이기 */
        font-size: 0.7rem; /* 폰트 사이즈 줄이기 */
        /* 필요한 경우 여기에 다른 스타일 조정 */
    }
    .small-font {
        font-size: 13px;
    }
</style>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>

    <div class="small-font">
        <h4>[[${board.title}]]</h4>

        <div class="d-flex justify-content-end">
            <a href="/board/list" class="btn btn-outline-primary btn-sm" role="button">목록으로</a>
        </div>

        <br>
        <div class="d-flex justify-content-end">
            <a><strong>작성자</strong> <span th:if="${board.stuId} != 'ADMIN'" th:text="${board.stuId}" ></span>  [[${board.name}]]</a><br>
        </div>
        <div class="d-flex justify-content-end">
            <a><strong>작성 일자</strong>&nbsp;<span> [[${#temporals.format(board.writeTime, 'yyyy-MM-dd')}]]</span></a>
        </div>
        <div class="d-flex justify-content-end">
            <a>[[${#temporals.format(board.writeTime, 'HH:mm')}]]</a>
        </div>
        <div class="d-flex justify-content-end">
            <a th:unless="${board.editTime} == null">(수정)</a>
        </div>

        <div class="d-flex justify-content-end">
            <a><strong>좋아요</strong> [[${board.likeNumber.size()}]]개</a>
        </div> <hr/>

        <div class="border p-3" style="white-space: pre-line; word-break: break-all" th:text="${board.content}"></div><br><br>
        <div class="d-flex justify-content-end">
            <div th:if="${loginStudent != null and loginStudent.getStuId() == board.stuId}">
                <a th:href="@{/board/{id}/edit(id=${board.id})}" >
                    <span class="material-symbols-outlined" >edit_note</span>
                </a>
            </div>
            &nbsp;&nbsp;
            <div th:if="${loginStudent != null and (loginStudent.getStuId() == board.stuId || loginStudent.getRole().toString() == 'ADMIN')}">
                <a href="#" onclick="return confirm('게시글을 삭제하시겠습니까?');"
                   th:href="@{/board/{id}/delete(id=${board.id})}">
                    <span class="material-symbols-outlined" style="color: red">delete</span>
                </a>
            </div>
            &nbsp;&nbsp;
            <div>
                <a th:if="${loginStudent!=null}" th:href="@{/board/{id}/like(id=${id})}"
                   th:onclick="${board.isLike(loginStudent.getStuId()) == true} ? @{return confirm('해당 게시글의 좋아요를 취소 하시겠습니까?');} : ''">

                    <span th:if="${board.isLike(loginStudent.getStuId())}" class="material-icons" style="color: black">thumb_up</span>
                    <span th:if="${!board.isLike(loginStudent.getStuId())}" class="material-symbols-outlined" style="color: black">thumb_up</span>
                </a>
                <a th:if="${loginStudent==null}" th:href="@{/board/{id}/like(id=${id})}">
                    <span class="material-symbols-outlined" style="color: black">thumb_up</span>
                </a>
            </div>
        </div><hr/><br>

        <form th:action="@{/board/{id}/reply/new(id=${id})}" th:object="${form}" method="post" class="form-container">
            <div class="form-group">
                <label th:for="content"><strong>댓글 작성</strong></label>
                <textarea th:if="${loginStudent!=null}" th:field="*{content}" th:errorclass="error-input" class="form-control" placeholder="작성 내용을 입력하세요 (등록 시 수정은 불가합니다)"></textarea>
                <textarea th:if="${loginStudent==null}" th:field="*{content}" th:errorclass="error-input" class="form-control" placeholder="로그인 후 댓글 작성이 가능합니다"></textarea>
                <div class="error-class" th:errors="*{content}"></div>
            </div>

            <button class="material-symbols-outlined" type="submit" role="button"
                    style="background: none; border: none; cursor: pointer">edit</button><br>
        </form><br>

        <table class="table">
            <tbody>
            <tr th:each="reply : ${board.getReplyList()}">
                <td>
                    <span class="line-break">
                        <span th:text="${reply.stuId}" class="small-font"></span><br>
                        <span th:text="${reply.name}" class="small-font"></span>
                        <div th:if="${loginStudent != null}">
                            <div th:if="${loginStudent.getStuId() == reply.stuId || loginStudent.getRole().toString() == 'ADMIN'}" >
                                <br>
                                <a href="#" onclick="return confirm('댓글을 삭제하시겠습니까?');"
                                   th:href="@{/board/{id}/reply/{replyId}/delete(id=${id}, replyId=${reply.id})}">
                                    <span class="material-symbols-outlined" style="color: red; font-size: 20px">delete</span>
                                </a>
                            </div>
                        </div>

                    </span>
                </td>

                <td>
                    <div class="말풍선">
                        <p th:text="${reply.getContent()}" class="small-font"></p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a th:if="${loginStudent != null}" th:href="@{/reply/{id}/like(id=${reply.id}, boardId=${board.id})}"
                               th:onclick="${reply.isLike(loginStudent.getStuId()) == true} ? @{return confirm('해당 댓글의 좋아요를 취소 하시겠습니까?');} : ''">

                                <span th:if="${reply.isLike(loginStudent.getStuId())}" class="material-icons" style="color: black; font-size: 20px">thumb_up</span>
                                <span th:if="${!reply.isLike(loginStudent.getStuId())}" class="material-symbols-outlined" style="color: black; font-size: 20px">thumb_up</span>
                            </a>
                            <a th:if="${loginStudent == null}" th:href="@{/board/{id}/like(id=${id})}">
                                <span class="material-symbols-outlined" style="color: black; font-size: 20px">thumb_up</span>
                            </a>
                            <div th:text="${reply.likeNumber.size()}"></div>
                        </div>
                        <div>
                            <span th:text="${#temporals.format(reply.writeTime, 'yyyy-MM-dd HH:mm')}" class="small-font"></span><br>
                        </div>

                    </div>

                </td>
            </tr>
            </tbody>
        </table>


    </div>
    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>

<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>
