<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<body class="h-full">
<link rel="stylesheet" href="/css/item_list.css"/>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">물품 현황</h1>
    </div>
</header>
<main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <div class="container mx-auto my-8 p-6 bg-gray-100 rounded-lg shadow-md">

            <form th:object="${itemSearch}">
                <!-- 검색 필드 추가 -->
                <div class="mb-4 flex items-center">
                    <input type="text" placeholder="물품 카테고리" th:field="*{category}" class="border border-gray-300 rounded-lg px-4 py-2 mr-4" />
                    <input type="text" placeholder="물품 이름" th:field="*{name}" class="border border-gray-300 rounded-lg px-4 py-2 mr-4" />
                    <div>
                        <button type="submit" id="reset-btn" style="border: none; background: none; cursor: pointer">
                            <span class="material-symbols-outlined" style="font-size: 26px; color: #0b5ed7">restart_alt</span>
                        </button>
                        &nbsp;
                        <button type="submit" style="border: none; background: none; cursor: pointer">
                            <span class="material-symbols-outlined" style="font-size: 26px; color: #0b5ed7">search</span>
                        </button>
                    </div>
                    <div class="flex-grow"></div>
                    <div class="rental-btn" id="rental-btn">
                        <div class="label">대여 신청</div>
                        <div class="toggle"></div>
                    </div>
                </div>
            </form>
            <br>
            <table id="itemTable" class="min-w-full bg-white rounded-lg shadow-md">
                <thead>
                <tr class="bg-gray-200 text-gray-600">
                    <th class="py-3 px-4 text-left">카테고리</th>
                    <th class="py-3 px-4 text-left">물품 이름</th>
                    <th class="py-3 px-4 text-left">대여 가능 재고</th>
                    <th class="py-3 px-4 text-left">총 재고</th>
                </tr>
                </thead>
                <tbody class="text-gray-700">
                <tr th:each="item : ${items}" class="hover:bg-gray-100">
                    <td class="py-3 px-4" th:text="${item.category}"></td>
                    <td class="py-3 px-4" th:text="${item.name}"></td>
                    <td class="py-3 px-4" th:text="${item.stockQuantity}"></td>
                    <td class="py-3 px-4" th:text="${item.allStockQuantity}"></td>
                </tr>
                </tbody>
            </table>

            <div class="pagination">
                <button class="pagination-button" th:disabled="${items.getNumber()}==0"
                        th:onclick="|location.href='@{/item/list(page=${1}, category=${itemSearch.getCategory()}, name=${itemSearch.getName()} ) }'|">
                    <<</button>
                <button class="pagination-button" th:disabled="${!items.hasPrevious()}"
                        th:onclick="|location.href='@{/item/list(page=${items.getNumber()}, category=${itemSearch.getCategory()}, name=${itemSearch.getName()} ) }'|">
                    <</button>
                &nbsp; &nbsp;
                <span class="pagination-info">[[${items.getNumber()+1}]] / [[${items.getTotalElements() == 0 ? 1 : items.getTotalPages()}]]</span>
                &nbsp; &nbsp;
                <button class="pagination-button" th:disabled="${!items.hasNext()}"
                        th:onclick="|location.href='@{/item/list(page=${items.getNumber() + 2}, category=${itemSearch.getCategory()}, name=${itemSearch.getName()} ) }'|">
                    ></button>
                <button class="pagination-button" th:disabled="${!items.hasNext()}"
                        th:onclick="|location.href='@{/item/list(page=${items.getTotalPages()}, category=${itemSearch.getCategory()}, name=${itemSearch.getName()} ) }'|">
                    >></button>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="/js/item_list.js"></script>
</html>
