<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>


<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
    <h2>물품 현황</h2>
    <br/>
    <div>
        <form th:object="${itemSearch}" class="form-inline">

            <style>
                .inline-elements {
                    display: flex;
                    align-items: center;
                }
            </style>
            <div class="d-flex justify-content-between align-items-start">
                <div class="inline-elements">
                    <div class="form-group mb-2">
                        <input type="text" th:field="*{category}" class="form-control" placeholder="물품 카테고리" /></div>
                    &nbsp;
                    <div class="form-group mb-2">
                        <input type="text" th:field="*{name}" class="form-control" placeholder="물품 이름" /></div>
                    &nbsp;
                    <button type="submit" id="reset-btn" style="border: none; background: none; cursor: pointer">
                        <span class="material-symbols-outlined" style="font-size: 26px; color: #0b5ed7">restart_alt</span>
                    </button>
                    &nbsp;
                    <button type="submit" style="border: none; background: none; cursor: pointer">
                        <span class="material-symbols-outlined" style="font-size: 26px; color: #0b5ed7">search</span>
                    </button>
                </div>
                <a href="/rental" class="btn btn-outline-info" role="button">대여 신청</a>
                &nbsp; &nbsp;

            </div>
        </form>
        <br>

        <table class="table table-striped">
            <thead> <tr>
                <th>카테고리</th> <th>물품 이름</th> <th>대여 가능 재고</th> <th>총 재고</th> <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.category}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td th:text="${item.allStockQuantity}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div style="text-align: center">
        <button class="btn btn-outline-dark btn-sm" th:disabled="${items.getNumber()}==0"
                th:onclick="|location.href='@{/item/list(page=${1}, category=${itemSearch.getCategory()}, name=${itemSearch.getName()} ) }'|">
            <<</button>
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!items.hasPrevious()}"
                th:onclick="|location.href='@{/item/list(page=${items.getNumber()}, category=${itemSearch.getCategory()}, name=${itemSearch.getName()} ) }'|">
            <</button>
        &nbsp; &nbsp;
        <span>[[${items.getNumber()+1}]] / [[${items.getTotalElements() == 0 ? 1 : items.getTotalPages()}]] </span>
        &nbsp; &nbsp;
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!items.hasNext()}"
                th:onclick="|location.href='@{/item/list(page=${items.getNumber() + 2}, category=${itemSearch.getCategory()}, name=${itemSearch.getName()} ) }'|">
            ></button>
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!items.hasNext()}"
                th:onclick="|location.href='@{/item/list(page=${items.getTotalPages()}, category=${itemSearch.getCategory()}, name=${itemSearch.getName()} ) }'|">
            >></button>
    </div>
    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->

<script>
    // 'resetButton' 버튼에 클릭 이벤트 리스너 추가
    document.getElementById('reset-btn').addEventListener('click', function() {
        // 'category'와 'name' 입력 필드의 값을 초기화
        document.getElementById('category').value = '';
        document.getElementById('name').value = '';
    });
</script>

</body>
</html>