<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
    <h2>물품 현황 수정 요청</h2><br/>

    <div class="d-flex justify-content-between">
        <h2>요청 목록</h2>
        <a href="/item/request">
            <span class="material-symbols-outlined">edit</span>
        </a>
    </div>
    <br>
    <table class="table table-striped">
        <thead> <tr>
            <th>#</th> <th>물품 이름</th> <th>작성자 <span style="white-space: nowrap;">학번</span></th> <th>작성자 <span style="white-space: nowrap;">이름</span></th>
            <th>확인 여부</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requestList}">
            <td th:text="${requestList.getTotalElements() - (requestList.getNumber() * requestList.getSize()) - requestStat.index}"></td>
            <td>
                <a th:href="@{/item/request/{id}(id=${request.id})}"
                   th:text="${#strings.length(request.itemName) > 10 ? #strings.substring(request.itemName, 0, 10) + '...' : request.itemName}"></a>
            </td>
            <td th:text="${request.stuId}"></td>
            <td th:text="${request.name}"></td>

            <div th:if="${request.isChecked()}">
                <td> <img th:src="@{/images/check.png}" alt="Checked" width="20" height="20"> </td>
            </div>
            <div th:unless="${request.isChecked()}">
                <td> <img th:src="@{/images/checkX.png}" alt="CheckedX" width="20" height="20"> </td>
            </div>

        </tr>
        </tbody>
    </table>
    <br>

    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>

