<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
    <div>
        <div class="d-flex justify-content-between">
            <h4>[[${request.itemName}]]</h4>
            <a href="/item/request/list" class="btn btn-outline-primary" role="button">목록으로</a>
        </div>
        <br>
        <div class="d-flex justify-content-end">
            <a><strong>작성자</strong> <span th:text="${request.stuId}"></span>  [[${request.name}]]</a>
        </div><br>

        <div class="border p-3" style="white-space: pre-line; word-break: break-all" th:text="${request.content}"></div><br><br>

        <div class="d-flex justify-content-end">
            <div th:if="${loginStudent.getRole().toString() == 'ADMIN'}">
                <a th:href="@{/admin/item/request/{id}/check(id=${request.id})}" >
                    <span class="material-symbols-outlined" style="color: blue">check_circle</span>
                </a>
            </div> &nbsp;

            <div th:if="${(loginStudent.getStuId() == request.stuId || loginStudent.getRole().toString() == 'ADMIN')}">
                <a href="#" onclick="return confirm('해당 요청을 삭제하시겠습니까?');"
                   th:href="@{/admin/item/request/{id}/delete(id=${request.id})}">
                    <span class="material-symbols-outlined" style="color: red">delete</span>
                </a>
            </div>
        </div>


    </div>
    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>