<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
    <h3>물품 현황 수정 요청</h3><br>

    <form th:method="post" th:action="|/item/request|" th:object="${itemRequestForm}">
        <div>
            <label for="item">물품 선택</label>
            <select class="form-control" id="item" th:field="*{itemName}" th:errorclass="error-input" >
                <option th:each="item : ${itemList}" th:value="${item.name}" th:text="${item.name}"></option>
            </select>
            <div class="error-class" th:errors="*{itemName}"></div>
        </div>

        <br>
        <div>
            <label th:for="content">요청 사항</label>
            <textarea th:field="*{content}" th:errorclass="error-input" class="form-control" rows="5" placeholder="작성 내용을 입력하세요"></textarea>
            <div class="error-class" th:errors="*{content}"></div>
        </div><br>

        <button type="submit" style="border: none; background: none; cursor: pointer">
            <span class="material-symbols-outlined" style="color: #0b5ed7;">edit</span>
        </button>
    </form>

    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->


</body>
</html>

<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>
