<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<body class="h-full">
<link rel="stylesheet" href="/css/dashboard.css"/>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">관리자 페이지</h1>
    </div>
</header>
<main>
    <div class="flex justify-center mx-auto max-w-7xl p-6 sm:px-6 lg:px-8 m-6">
        <div class="bg-white shadow-lg rounded-lg p-6 max-w-sm w-full">
            <h2 class="text-2xl font-semibold text-center mb-4">관리자 메뉴</h2>
            <div class="flex flex-col space-y-4">
                <a th:href="@{/admin/item/list}" class="bg-gradient-to-r from-blue-500 to-blue-600 text-white font-semibold py-3 rounded-lg shadow-lg hover:from-blue-600 hover:to-blue-700 transition duration-200 transform hover:scale-105 text-center">물품 현황 수정</a>
                <a th:href="@{/admin/student/list}" class="bg-gradient-to-r from-blue-500 to-blue-600 text-white font-semibold py-3 rounded-lg shadow-lg hover:from-blue-600 hover:to-blue-700 transition duration-200 transform hover:scale-105 text-center">회원 정보 조회</a>
                <a th:href="@{/admin/rental/list}" class="bg-gradient-to-r from-blue-500 to-blue-600 text-white font-semibold py-3 rounded-lg shadow-lg hover:from-blue-600 hover:to-blue-700 transition duration-200 transform hover:scale-105 text-center">대여 현황 조회</a>
                <a th:href="@{/admin/student/feeList}" class="bg-gradient-to-r from-blue-500 to-blue-600 text-white font-semibold py-3 rounded-lg shadow-lg hover:from-blue-600 hover:to-blue-700 transition duration-200 transform hover:scale-105 text-center">학생회비 납부 명단 조회</a>
            </div>
        </div>
    </div>


</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>