<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
    <div class="jumbotron">
        <h3>관리자 전용 페이지</h3>

        <div class="d-flex justify-content-between align-items-center">
            <h2>[[${ann.title}]]</h2>
            <a th:href="@{/admin/editAnnouncement}" class="btn btn-link" role="button">
                <img th:src="@{/images/edit.png}" alt="수정">
            </a>

        </div>
        <hr/>
        <div style="overflow: hidden; border-radius: 10px; padding: 20px; background: rgba(246,69,69,0.66)">
            <div class="text-start">
                <h3><div th:utext="${#strings.replace(ann.content, '\n', '<br/>')}"></div></h3>
            </div>
        </div><br><br>


        <div class="d-flex justify-content-between align-items-start">
            <div style="width: 50%;">
                <div class="d-flex flex-column justify-content-start align-items-start">
                    <h2>관리자 도구</h2>
                    <hr style="width:90%;"/>
                    <a th:href="@{/admin/item/list}" class="btn btn-outline-primary" role="button">물품 현황 수정</a><br>
                    <a th:href="@{/admin/student/list}" class="btn btn-outline-primary" role="button">회원 정보 조회</a><br>
                    <a th:href="@{/admin/rental/list}" class="btn btn-outline-primary" role="button">대여 현황 조회</a><br>
                    <a th:href="@{/admin/student/feeList}" class="btn btn-outline-primary" role="button">학생회비 납부 명단 조회</a><br>
                </div>
            </div>

            <div style="width: 45%;">
                <div class="d-flex justify-content-between align-items-end">
                    <h2>게시판</h2>
                    <a th:href="@{/board/list}" class="btn btn-sm" role="button" style="padding: 5px 5px; font-size: 20px;">+</a>
                </div>
                <hr style="width:100%;"/>
                <div class="d-flex justify-content-between align-items-end">
                    <h5>최근 게시글</h5>

                </div>
                <table class="table table-striped">
                    <thead> <tr>
                        <th>#</th> <th>제목</th> <th><span class="material-symbols-outlined" style="font-size: 20px">thumb_up</span></th> <th>작성 일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board, iterStat : ${recentBoard}">
                        <td th:text="${iterStat.count}"></td>
                        <td>
                            <a th:href="@{/board/{id}(id=${board.id})}" th:text="${#strings.length(board.title) > 10 ? #strings.substring(board.title, 0, 10) + '...' : board.title}"></a>
                        </td>
                        <td th:text="${board.likeNumber.size()}"></td>
                        <div th:if="${board.editTime == null}">
                            <td th:text="${#temporals.format(board.writeTime, 'MM-dd HH:mm')}"></td>
                        </div>
                        <div th:unless="${board.editTime == null}">
                            <td th:text="${#temporals.format(board.editTime, 'MM-dd HH:mm') + ' (수정)'}"></td>
                        </div>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


    </div>

    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>
