<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
    <h2>회원 정보 조회</h2><br>
    <div>
        <form class="form-inline">
            <style>
                .inline-elements{
                    display: flex;
                    align-items: center;
                }
            </style>

            <div class="inline-elements">
                <form th:action="@{/admin/student/list}" method="get">
                    <div class="form-group mb-2" style="margin-right: 5px;"><input type="text" class="form-control" name="stuId"  placeholder="학생 학번" style="margin-right: 20px;"> </div>
                    <div class="form-group mb-2" style="margin-right: 5px;"><input type="text" class="form-control" name="name"  placeholder="학생 이름" style="margin-right: 20px;"> </div>
                </form>
                <button type="submit" id="reset-btn" style="border: none; background: none; cursor: pointer">
                    <span class="material-symbols-outlined" style="color: #0b5ed7; vertical-align: top">restart_alt</span>
                </button>
                &nbsp;
                <button type="submit" style="border: none; background: none; cursor: pointer">
                    <span class="material-symbols-outlined" style="color: #0b5ed7; vertical-align: top">search</span>
                </button>
            </div>
        </form>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>학번</th>
                <th>이름</th>
                <th>조회</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${students.getNumber()*students.getSize() + studentStat.count}"></td>
                <td th:text="${student.stuId}"></td>
                <td th:text="${student.name}"></td>
                <td>
                    <a href="#" th:href="@{/admin/student/{id} (id=${student.stuId})}">
                        <span class="material-symbols-outlined">person_check</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
    <div style="text-align: center">
        <button class="btn btn-outline-dark btn-sm" th:disabled="${students.getNumber()}==0"
                th:onclick="|location.href='@{/admin/student/list(page=${1}, stuId=${studentSearch.getStuId()}, name=${studentSearch.getName()} ) }'|">
            <<</button>
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!students.hasPrevious()}"
                th:onclick="|location.href='@{/admin/student/list(page=${students.getNumber()}, stuId=${studentSearch.getStuId()}, name=${studentSearch.getName()} ) }'|">
            <</button>
        &nbsp; &nbsp;
        <span>[[${students.getNumber()+1}]] / [[${students.getTotalElements() == 0 ? 1 : students.getTotalPages()}]] </span>
        &nbsp; &nbsp;
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!students.hasNext()}"
                th:onclick="|location.href='@{/admin/student/list(page=${students.getNumber() + 2}, stuId=${studentSearch.getStuId()}, name=${studentSearch.getName()} ) }'|">
            ></button>
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!students.hasNext()}"
                th:onclick="|location.href='@{/admin/student/list(page=${students.getTotalPages()}, stuId=${studentSearch.getStuId()}, name=${studentSearch.getName()} ) }'|">
            >></button>
    </div>
    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->

<script>
    // 'resetButton' 버튼에 클릭 이벤트 리스너 추가
    document.getElementById('reset-btn').addEventListener('click', function() {
        // 'category'와 'name' 입력 필드의 값을 초기화
        document.getElementById('category').value = '';
        document.getElementById('name').value = '';
    });
</script>
</body>
</html>
