<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<style>

    .small-font {
        font-size: 13px;
    }
</style>
<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>

    <div>
        <br/>
        <h3>공지사항 <img th:src="@{/images/announcement.png}" alt="공지사항"></h3><br/>
        <table class="table">
            <thead>
            <tr>
                <th>#</th> <th>공지사항</th> <th>작성 일자</th>
            </tr>
            </thead>
            <tbody class="table table-danger">
            <tr th:each="notice : ${notices}">
                <td th:text="${notices.getNumber()*notices.getSize() + noticeStat.count}"></td>
                <td>
                    <a th:href="@{/board/{id}(id=${notice.id})}"  th:text="${#strings.length(notice.title) > 10 ? #strings.substring(notice.title, 0, 10) + '...' : notice.title}"></a>
                </td>
                <div th:if="${notice.editTime == null}">
                    <td th:text="${#temporals.format(notice.writeTime, 'yyyy-MM-dd')}"></td>
                </div>
                <div th:unless="${notice.editTime == null}">
                    <td th:text="${#temporals.format(notice.editTime, 'yyyy-MM-dd') + ' (수정)'}"></td>
                </div>
            </tr>
            </tbody>

        </table>
        <div style="text-align: center">
            <button class="btn btn-outline-dark btn-sm" th:disabled="${notices.getNumber()}==0"
                    th:onclick="|location.href='@{/board/list(noticePage=${1}, boardPage=${boardPage})}'|">
                <<</button>
            <button class="btn btn-outline-dark btn-sm" th:disabled="${!notices.hasPrevious()}"
                    th:onclick="|location.href='@{/board/list(noticePage=${notices.getNumber()}, boardPage=${boardPage}) }'|">
                <</button>
            &nbsp; &nbsp;
            <span>[[${notices.getNumber()+1}]] / [[${notices.getTotalElements() == 0 ? 1 : notices.getTotalPages()}]] </span>
            &nbsp; &nbsp;
            <button class="btn btn-outline-dark btn-sm" th:disabled="${!notices.hasNext()}"
                    th:onclick="|location.href='@{/board/list(noticePage=${notices.getNumber() + 2}, boardPage=${boardPage}) }'|">
                ></button>
            <button class="btn btn-outline-dark btn-sm" th:disabled="${!notices.hasNext()}"
                    th:onclick="|location.href='@{/board/list(noticePage=${notices.getTotalPages()}, boardPage=${boardPage} ) }'|">
                >></button>
        </div>
        <br><br>
    </div>
        <hr/><br>
        <div class="d-flex justify-content-between">
            <h3>게시글</h3>
            <a href="/board/new" class="btn btn-outline-primary ms-auto" role="button">게시글 작성</a>
        </div>
        <br>
        <table class="table table-striped">
            <thead> <tr>
                <th>#</th> <th>제목</th> <th>작성자 학번</th> <th>작성자 이름</th> <th><img th:src="@{/images/thumbsUp_m.png}"></th> <th>작성 일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${boards.getNumber()*boards.getSize() + boardStat.count}"></td>
                <td>
                    <a th:href="@{/board/{id}(id=${board.id})}" th:text="${#strings.length(board.title) > 10 ? #strings.substring(board.title, 0, 10) + '...' : board.title}"></a>
                </td>
                <td th:unless="${board.stuId=='ADMIN'}" th:text="${board.stuId}"></td>
                <td th:if="${board.stuId=='ADMIN'}"></td>
                <td th:unless="${board.stuId=='ADMIN'}" th:text="${board.name}"></td>
                <td th:if="${board.stuId=='ADMIN'}"><strong>관리자</strong></td>

                <td th:text="${board.likeNumber.size()}"></td>

                <div th:if="${board.editTime == null}">
                    <td th:text="${#temporals.format(board.writeTime, 'yyyy-MM-dd HH:mm')}"></td>
                </div>
                <div th:unless="${board.editTime == null}">
                    <td th:text="${#temporals.format(board.editTime, 'yyyy-MM-dd HH:mm') + ' (수정)'}"></td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center">
        <button class="btn btn-outline-dark btn-sm" th:disabled="${boards.getNumber()}==0"
                th:onclick="|location.href='@{/board/list(noticePage=${noticePage}, boardPage=${1}) }'|">
            <<</button>
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!boards.hasPrevious()}"
                th:onclick="|location.href='@{/board/list(noticePage=${noticePage}, boardPage=${boards.getNumber()}) }'|">
            <</button>
        &nbsp; &nbsp;
        <span>[[${boards.getNumber()+1}]] / [[${boards.getTotalElements() == 0 ? 1 : boards.getTotalPages()}]] </span>
        &nbsp; &nbsp;
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!boards.hasNext()}"
                th:onclick="|location.href='@{/board/list(noticePage=${noticePage}, boardPage=${boards.getNumber() + 2}) }'|">
            ></button>
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!boards.hasNext()}"
                th:onclick="|location.href='@{/board/list(noticePage=${noticePage}, boardPage=${boards.getTotalPages()} ) }'|">
            >></button>
    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>

