<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>


    <div>
        <form class="form-inline">
            <style>
                .inline-elements{
                    display: flex;
                    align-items: center;
                }
            </style>

            <div class="inline-elements">
                <form th:action="@{/admin/student/feeList}" method="get">
                    <div class="form-group mb-2" style="margin-right: 5px;"><input type="text" class="form-control" name="stuId"  placeholder="학생 학번" style="margin-right: 20px;"> </div>
                    <div class="form-group mb-2" style="margin-right: 5px;"><input type="text" class="form-control" name="name"  placeholder="학생 이름" style="margin-right: 20px;"> </div>
                </form>
                <button class="btn btn-primary mb-2" type="submit">검색</button>

                &nbsp; &nbsp; &nbsp;
                <a class="btn btn-outline-info btn-sm" onclick="addTable()">추가</a>
                &nbsp;

                <button type="submit" class="btn btn-outline-danger btn-sm" form="deleteForm" onclick="return confirmDelete()">삭제</button>
                &nbsp;

                <a class="btn btn-outline-primary btn-sm" onclick="addWindow()">업로드</a>


            </div>
            <div id="tableContainer">
                <table class="table table-striped">
                    <tbody></tbody>
                </table>

            </div>
            <div id="windowContainer">

            </div>
        </form>

        <form id="deleteForm" th:action="@{/admin/student/feeList/delete}" method="post">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>선택</th> <!-- 선택 열 추가-->
                    <th>학번</th>
                    <th>이름</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td><input type="checkbox" name="stuIdList" th:value="${student.stuId}"></td> <!-- 체크박스 추가 -->
                    <td th:text="${student.stuId}"></td>
                    <td th:text="${student.name}"></td>
                </tr>
                </tbody>
            </table>
        </form>

    </div>
    <div style="text-align: center">
        <button class="btn btn-outline-dark btn-sm" th:disabled="${students.getNumber()}==0"
                th:onclick="|location.href='@{/admin/student/feeList(page=${1}, stuId=${studentSearch.getStuId()}, name=${studentSearch.getName()} ) }'|">
            <<</button>
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!students.hasPrevious()}"
                th:onclick="|location.href='@{/admin/student/feeList(page=${students.getNumber()}, stuId=${studentSearch.getStuId()}, name=${studentSearch.getName()} ) }'|">
            <</button>
        &nbsp; &nbsp;
        <span>[[${students.getNumber()+1}]] / [[${students.getTotalElements() == 0 ? 1 : students.getTotalPages()}]] </span>
        &nbsp; &nbsp;
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!students.hasNext()}"
                th:onclick="|location.href='@{/admin/student/feeList(page=${students.getNumber() + 2}, stuId=${studentSearch.getStuId()}, name=${studentSearch.getName()} ) }'|">
            ></button>
        <button class="btn btn-outline-dark btn-sm" th:disabled="${!students.hasNext()}"
                th:onclick="|location.href='@{/admin/student/feeList(page=${students.getTotalPages()}, stuId=${studentSearch.getStuId()}, name=${studentSearch.getName()} ) }'|">
            >></button>
    </div>
    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->

</body>

<script>        <!-- 추가 로직 -->
    var tableAdded = false;
    function addTable() {
        var tableContainer = document.getElementById('tableContainer');
        if(tableAdded) {
            tableContainer.innerHTML = '';
            tableAdded = false;
        } else {
            var newTable = '<h4>학생회비 납부 학생 추가</h4>' +
                '<div>' +
                '<table class="table table-striped">' +
                '<thead>' +
                '<tr>' +
                '<th>학번</th>' +
                '<th>이름</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody>' +
                '<tr>' +
                '<td><input type="text" class="form-control" name="newStuId" placeholder="학번 입력"></td>' +
                '<td><input type="text" class="form-control" name="newName" placeholder="이름 입력"></td>' +
                '</tr>' +
                '</tbody>' +
                '</table>' +
                '</div>';

            var addButton = '<button id="addButton" class="btn btn-outline-info btn-sm float-end" onclick="addStudent()">추가</button>'

            // 새로운 행을 기존 표의 tbody에 추가
            tableContainer.innerHTML += newTable + addButton;
            tableAdded = true;
        }

    }
    function addStudent() {
        var stuId = document.getElementsByName('newStuId')[0].value;
        var name = document.getElementsByName('newName')[0].value;
        location.href = `/admin/student/feeList/add?newStuId=${stuId}&newName=${name}`;
    }

</script>

<script>        <!-- 추가 로직 -->
var windowAdded = false;
function addWindow() {
    var windowContainer = document.getElementById('windowContainer');
    if(windowAdded) {
        windowContainer.innerHTML = '';
        windowAdded = false;
    } else {

        var newWindow = '<h4>학생회비 납부 명단 업로드 (엑셀 파일만 업로드!)</h4>' +


            '<form action="/admin/student/feeList/upload" method="POST" enctype="multipart/form-data">' +
                '<input type="file" name="excelFile">' +
                '<input type="submit" value="업로드"/>' +
            '</form>' +
        '<p></p>';

        windowContainer.innerHTML += newWindow;
        windowAdded = true;
    }

}
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const deleteButton = document.querySelector("button[type='submit'][form='deleteForm']");
        const checkboxes = document.querySelectorAll("input[type='checkbox'][name='stuIdList']");

        function updateButtonState() {
            const isAnyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            deleteButton.disabled = !isAnyChecked;
        }

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener("change", updateButtonState);
        });

        // 초기 상태 업데이트
        updateButtonState();
    });
</script>

<script>
    function confirmDelete() {
        var result = confirm("정말로 삭제하시겠습니까?");
        if (result) {
            // 사용자가 'OK'를 클릭한 경우, 폼 제출
            return true;
        } else {
            // 사용자가 'Cancel'을 클릭한 경우, 폼 제출 취소
            return false;
        }
    }
</script>
</html>
