<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .btn-mobile {
        padding: 0.25rem 0.5rem; /* 패딩 줄이기 */
        font-size: 0.7rem; /* 폰트 사이즈 줄이기 */
        /* 필요한 경우 여기에 다른 스타일 조정 */
    }
    .small-font {
        font-size: 13px;
    }
    .table {
        table-layout: fixed;
        width: 100%;
    }

    .table td:nth-child(1), .table th:nth-child(1) {
        width: 10%; /* 첫 번째 열의 너비 */
    }

    .table td:nth-child(2), .table th:nth-child(2) {
        width: 30%; /* 두 번째 열의 너비 */
    }

    .table td:nth-child(3), .table th:nth-child(3) {
        width: 60%; /* 세 번째 열의 너비 */
    }
    .말풍선 {
        background-color: #f2f2f2; /* 말풍선의 배경색을 설정합니다. 연한 회색입니다. */
        border-radius: 10px; /* 말풍선의 모서리를 둥글게 만듭니다. 둥근 정도는 10px입니다. */
        padding: 5px; /* 말풍선 내부의 내용과 테두리 사이의 여백을 설정합니다. 상하좌우 모두 10px입니다. */
        margin-top: 1px; /* 말풍선 상단의 외부 여백을 1px로 설정합니다. */
        margin-bottom: 5px; /* 말풍선 하단의 외부 여백을 5px로 설정합니다. */
        word-wrap: break-word; /* 긴 단어나 URL이 말풍선의 폭을 넘어갈 때 단어를 자동으로 줄바꿈합니다. */
    }
</style>
<body>

<div class="container">

    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
    <div class="d-flex justify-content-between">
        <h2>회원 정보 조회</h2>
        <a href="#" th:href="@{/admin/student/list}" class="btn btn-primary btn-sm" role="button">Back</a>
    </div><br>


    <h4>학번&nbsp;&nbsp;&nbsp;&nbsp;[[${student.stuId}]]</h4>
    <h4>이름&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${student.name}"></span></h4>
    <br>
    <a>전화번호&nbsp;&nbsp;<span class="small-font" th:text="${student.phoneNumber}"></span></a><br>
    <a>이메일 주소&nbsp;&nbsp;<span class="small-font" th:text="${student.email}"></span></a><br>


    <br><hr/><br>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h3>대여 정보</h3>
        <form th:action="@{/admin/student/{stuId}/delete(stuId=${student.stuId})}" method="post" onsubmit="return confirmDelete();">
            <input type="hidden" id="passwordInput" name="password" />
            <input type="submit" value="계정 탈퇴" class="btn btn-outline-danger btn-sm" role="button">
        </form>
    </div>

    <br>
    <div>
        <div>
            <form th:object="${rentalSearch}" class="form-inline">
                <style>
                    .inline-elements {
                        display: flex;
                        align-items: center;
                    }
                </style>

                <div class="inline-elements">
                    <input type="hidden" th:field="*{stuId}" th:value="${student.stuId}">
                    <div class="form-group mx-sm-1 mb-2">
                        <select th:field="*{rentalStatus}" class="form-control small-font"><option value="">대여 상태</option>
                            <option th:each="status : ${T(an.rentalinhaee.domain.RentalStatus).values()}"
                                    th:value="${status}"
                                    th:text="${status.getDisplayName()}">option
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 btn-sm">
                        <span class="material-symbols-outlined" style="font-size: 13px">search</span>
                    </button>
                </div>
            </form>
        </div>

    <div>
        <table class="table small-font">
            <thead>
            <tr>
                <th>#</th>
                <th>대여 물품</th>
                <th>대여 정보</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${rentalList}">
                <td th:text="${(rentalList.getNumber())*rentalList.getSize() + itemStat.count}"></td>

                <td>
                    <span class="line-break">
                        <span th:if="${item.item.name == ''}" th:text="${item.item.category}"></span>
                        <th:block th:if="${item.item.name == ''}">
                            <br>
                        </th:block>
                        <span th:if="${item.item.name != ''}" th:text="${item.item.name}"></span>
                        <th:block th:if="${item.item.name != ''}">
                            <br>
                            <span th:text="'(' + ${item.item.category} + ')'"></span><br>
                        </th:block>
                    </span>
                </td>
                <td>
                    <div class="말풍선">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a th:if="${item.status.name() == 'FINISH'}" th:text="'반납 완료'"></a>
                                <a th:if="${item.status.name() == 'FINISH_OVERDUE'}" th:text="'반납 완료 (연체)'" style="color: red; font-weight: bold"></a>
                                <a th:if="${item.status.name() == 'OVERDUE'}" th:text="'연체 중'" style="color: red; font-weight: bold" ></a>
                                <a th:if="${item.status.name() == 'ING'}" th:text="'대여 중'"></a>
                            </div>


                            <a th:unless="${item.status.name() == 'FINISH' || item.status.name() == 'FINISH_OVERDUE'}" href="#" onclick="return confirm('물품 반납 및 연체료 수납을 확인 해 주세요.\n반납 처리 하시겠습니까?');"
                               th:href="'javascript:adminCancel('+${item.id}+', \''+${student.stuId}+'\')'" class="btn btn-outline-danger btn-mobile">물품 반납</a>
                        </div>

                        <div th:text="${item.rentalDate} + ' ~'"/>
                        <div>
                            <div th:if="${item.status.name() == 'FINISH'}" th:text="${item.finishRentalDate}"></div>
                            <div th:if="${item.status.name() == 'FINISH_OVERDUE'}" th:text="${item.finishRentalDate}" style="color: red"></div>
                        </div>


                        <a th:if="${item.status.name() == 'OVERDUE'}" th:text="'연체료 ' + ((${T(java.time.temporal.ChronoUnit).DAYS.between(item.rentalDate, T(java.time.LocalDate).now())}-3) * 500) + '원'"></a>
                        <a th:if="${item.status.name() == 'FINISH_OVERDUE'}" th:text="'연체료 ' + ((${T(java.time.temporal.ChronoUnit).DAYS.between(item.rentalDate, item.finishRentalDate)}-3) * 500) + '원'"></a>
                    </div>

                </td>

            </tr>

            </tbody>
        </table>
    </div>

    <div style="text-align: center" class="small-font">
        <button class="btn btn-outline-dark btn-mobile" th:disabled="${rentalList.getNumber()}==0"
                th:onclick="|location.href='@{/admin/student/{stuId}(page=${1}, stuId=${rentalSearch.stuId}, rentalStatus=${rentalSearch.rentalStatus}) }'|">
            <<</button>
        <button class="btn btn-outline-dark btn-mobile" th:disabled="${!rentalList.hasPrevious()}"
                th:onclick="|location.href='@{/admin/student/{stuId}(page=${rentalList.getNumber()}, stuId=${rentalSearch.stuId}, rentalStatus=${rentalSearch.rentalStatus}) }'|">
            <</button>
        <span>[[${rentalList.getNumber()+1}]] / [[${rentalList.getTotalElements() == 0 ? 1 : rentalList.getTotalPages()}]] </span>
        <button class="btn btn-outline-dark btn-mobile" th:disabled="${!rentalList.hasNext()}"
                th:onclick="|location.href='@{/admin/student/{stuId}(page=${rentalList.getNumber() + 2}, stuId=${rentalSearch.stuId}, rentalStatus=${rentalSearch.rentalStatus})}'|">
            ></button>
        <button class="btn btn-outline-dark btn-mobile" th:disabled="${!rentalList.hasNext()}"
                th:onclick="|location.href='@{/admin/student/{stuId}(page=${rentalList.getTotalPages()}, stuId=${rentalSearch.stuId}, rentalStatus=${rentalSearch.rentalStatus})}|">
            >></button>
    </div>
    </div>
    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>

</div> <!-- /container -->
</body>


</html>

<script>
    function confirmDelete() {
        var result = confirm("정말로 계정을 삭제하시겠습니까?\n해당 학생의 대여 기록도 모두 사라집니다.");
        if (result) {
            // 사용자가 'OK'를 클릭한 경우, 비밀번호 입력받음
            var password = prompt("관리자 계정의 비밀번호를 입력해주세요.");
            document.getElementById('passwordInput').value = password;

        } else {
            // 사용자가 'Cancel'을 클릭한 경우, 폼 제출 취소
            event.preventDefault();
            return false;
        }
    }
</script>


<script>
    function adminCancel(id, stuId) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/admin/rental/" + id + "/finish");

        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "stuId");
        hiddenField.setAttribute("value", stuId);

        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();
    }
</script>