<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<body class="h-full">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>

<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 flex items-center">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">회원가입 (2/3)</h1>
        <div class="ml-6">
            <div class="h-1 w-24 bg-blue-600 mb-1"></div>
            <div class="flex justify-start text-blue-600 text-sm">Step 1</div>
            <div class="flex justify-start text-gray-600 text-sm">개인 정보 입력</div>

        </div>

        <div class="ml-6">
            <div class="h-1 w-24 bg-blue-600 mb-1"></div>
            <div class="flex justify-start text-blue-600 text-sm">Step 2</div>
            <div class="flex justify-start text-gray-600 text-sm">유의 사항 확인</div>
        </div>

        <div class="ml-6">
            <div class="h-1 w-24 bg-gray-300 mb-1"></div>
            <div class="flex justify-start text-blue-600 text-sm">Step 3</div>
            <div class="flex justify-start text-gray-600 text-sm">이메일 검증</div>
        </div>
    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 mb-6">
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="text-2xl font-semibold text-center mb-6">유의 사항 확인</h2>

            <p class="text-gray-600">전화번호는 연체 시 연락을 위해서 수집합니다.</p>
            <p class="text-gray-600">본인 전화번호가 아닌 경우에는 회원 탈퇴, 물품 대여 불가 등 불이익이 생길 수 있습니다.</p>
            <p class="font-bold text-lg my-4">[[${joinRequest.phoneNumber}]] 로 회원가입을 진행하시겠습니까?</p>
            <p class="text-gray-600">예를 선택하시면 이메일 인증 단계로 넘어갑니다.</p>

            <div class="flex flex-col mt-8 space-y-2">
                <a th:href="@{/join/verify(joinRequest=${joinRequest})}" class="bg-blue-400 text-white font-bold py-3 rounded-lg shadow-md hover:bg-blue-700 transition duration-200 text-center transform hover:scale-105">예</a>
                <a th:href="@{/join}" class="bg-red-400 text-white font-bold py-3 rounded-lg shadow-md hover:bg-red-700 transition duration-200 text-center transform hover:scale-105">아니오</a>
            </div>

        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>