<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>인하대 전자공학과 학생회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <h2>회원 가입</h2>
    &nbsp;
    <h3>이메일 검증</h3>
    <br>
    <form th:method="post" th:action="|/join/verify|" th:object="${emailForm}" >
        <label th:for="email">이메일 주소</label>
        <div style="display: flex; align-items: center;">
            <input type="text" th:field="*{email}" th:errorclass="error-input" class="form-control"
                   placeholder="이메일 주소를 입력하세요. (예시 : test@gmail.com)" style="width: 600px;">
            <div class="error-class" th:errors="*{email}"></div>

            <button type="submit" class="btn btn-outline-secondary btn-sm">인증</button>
        </div>
        <br/><br/>
    </form>


    <form th:if="${isSent == true}" th:method="post" th:action="|/join/verify/code|" th:object="${verifyCodeForm}">
        <label th:for="code">인증 문자</label>
        <div style="display: flex; align-items: center;">
            <input type="text" th:field="*{code}" th:errorclass="error-input" class="form-control"
                   placeholder="인증 문자를 입력하세요.">
            <div class="error-class" th:errors="*{code}"></div>

            <button type="submit" class="btn btn-outline-secondary btn-sm">확인</button>
        </div>
        <br/><br/>
    </form>




    <br>
    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->
</body>
</html>


<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>