/* 드롭다운 그룹 스타일링 */
.dropdown-group {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    display: flex; /* 버튼들을 가로로 나열 */
    justify-content: space-around; /* 자식 요소들 사이에 균등한 간격을 만듭니다. */
    width: 100%;
    /*background-color: #4CAF50; !* 버튼 배경 색상 *!*/
}

/* 드롭다운 컨테이너 스타일링 */
.dropdown {
    position: relative; /* 상대 위치 */
    display: inline-block; /* 인라인 블록 디스플레이 */
    flex-grow: 1; /* 모든 .dropdown 요소가 가용 공간을 균등하게 차지하도록 합니다. */
    text-align: center; /* .dropbtn 내의 텍스트를 가운데 정렬합니다. */
}

/* 드롭다운 버튼 스타일링 */
.dropbtn {
    background-color: rgba(0, 0, 0, 0.9); /* 버튼 배경 색상 */
    color: white; /* 텍스트 색상 */
    padding: 15px; /* 패딩 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 포인터 */
    font-size: 25px;
    font-weight: 700;
    width:100%;
}
/* 드롭다운 링크 스타일 */
.dropdown-content a {
    color: black; /* 링크 색상 */
    padding: 12px 16px; /* 패딩 */
    text-decoration: none; /* 밑줄 없음 */
    display: block; /* 블록 디스플레이 */
}

/* 드롭다운 컨텐츠 스타일링 */
.dropdown-content {
    display: none; /* 기본적으로 숨김 */
    position: absolute; /* 절대 위치 */
    background-color: #f9f9f9; /* 배경 색상 */

    left: 50%;
    transform: translate(-50%);

    min-width: 160px; /* 최소 너비 */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* 상자 그림자 */
    z-index: 1; /* z-index */
}



/* 드롭다운 링크 호버 스타일 */
.dropdown-content a:hover {background-color: rgba(175, 171, 171, 0.6)
}

/* 드롭다운 버튼 호버 시 드롭다운 컨텐츠 표시 */
.dropdown:hover .dropdown-content {
    display: block; /* 표시 */
}

/* 드롭다운 그룹 위에 마우스가 올라가 있을 때 모든 버튼 배경을 회색으로 설정 */
.dropdown-group:hover .dropbtn {
    background-color: #a1a1a1; /* 회색 */
}

/* 동시에, 호버되고 있는 버튼만 검정색으로 유지 */
.dropdown-group .dropbtn:hover {
    background-color: #000; /* 검정색 */
}

/* 드롭다운 버튼 사이에 경계선 추가, 마지막 버튼 제외 */
/*.dropdown:not(:last-child) .dropbtn {*/
/*    border-right: 2px solid rgba(218, 218, 218, 0.31);*/
/*}*/

/* 드롭다운이 호버되었을 때의 버튼 스타일 */
.dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.9); /* 호버 시 버튼 배경 색상 유지 */
}