<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer">
    <p>&copy;공대생안씨    http://blogan99.tistory.com</p>
    <div style="display: flex">
        <p>오류 / 건의 사항 보내기</p> &nbsp;
        <div class="tit_post_gmail">
            <a href="mailto:chm20060@gmail.com" class="gmail_link" target='_blank'>
                <img src="https://tistory1.daumcdn.net/tistory/5128218/skin/images/mail.png" width="30" height="30">
            </a>
        </div>
    </div>

</div>