<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 아이콘-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                    'FILL' 0,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 24;
            vertical-align: middle;
        }
    </style>

    <!-- Material Icons Filled 스타일을 사용하기 위한 링크 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .material-icons {
            vertical-align: middle;
        }
    </style>

    <!-- 파비콘 (favicon) -->
    <link rel="icon" type="image/png" href="/images/inhaeelogo.png">

    <!-- 오픈 그래프 (OG) -->
    <meta property="og:title" content="SWITCH 학생회 대여 사업"/>
    <meta property="og:image" th:content="@{/resources/static/images/inhaeelogo.png}"/>
    <meta property="og:url" content="http://inhaee-rental.site"/>
    <meta property="og:description" content="SWITCH 학생회"/>

    <!-- 바로가기 아이콘 이미지 -->
    <link rel="apple-touch-icon" th:href="@{/images/inhaeelogo.png}">

    <!-- 바로가기 타이틀 -->
    <meta name="apple-mobile-web-app-title" content="SWITCH">

    <!-- 테일윈드 css-->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>인하대학교 전자공학과 학생회 대여 사업</title>

    <meta property="og:image" th:content="|@{/images/inhaeelogo.png}|" />

    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/main_switch.css"/>
    <link rel="stylesheet" href="/css/bodyHeader_dropdown.css"/>
    <link rel="stylesheet" href="/css/bodyHeader_modal.css"/>

    <script src="/js/bodyHeader_modal.js"></script>
    <script src="/js/bodyHeader_dropdown.js"></script>
    <script src="/js/bodyHeader_switch.js"></script>

</head>
