<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<body class="h-full">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    window.onload = function (){
        var nextUrl = [[${nextUrl}]];
        var newUrl = [[${newUrl}]];
        var errorMessage = [[${errorMessage}]];

        if(errorMessage) {
            alert(errorMessage);
        }
        if(nextUrl) {
            window.location.href = [[${nextUrl}]]
        }
        window.open(newUrl, '_blank');
    }
</script>
</html>
