.main-btn {
    position: relative;
    width: 130px; /* 버튼 크기 조정 */
    height: 50px; /* 버튼 높이 조정 */
    background-color: #b30000; /* 기본 배경색 */
    border-radius: 30px; /* 둥근 모서리 */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 중앙 정렬에서 양쪽 정렬로 변경 */
    color: white; /* 글자 색상 */
    font-weight: bold; /* 글자 두께 */
    font-size: 13px; /* 글자 크기 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    overflow: hidden; /* 넘치는 요소 숨기기 */
    /*padding-right: 50px; !* 오른쪽 여백 추가 *!*/
}

.main-btn .toggle {
    position: absolute;
    top: 10px; /* 위쪽 여백 조정 */
    left: 10px; /* 왼쪽 여백 조정 */
    width: 30px;
    height: 30px;
    background-color: white; /* 스위치 색상 */
    border-radius: 20px; /* 둥근 모서리 */
    transition: transform 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.main-btn .toggle.isVerified {
    position: absolute;
    top: 10px; /* 위쪽 여백 조정 */
    left: 65px; /* 왼쪽 여백 조정 */
    width: 30px;
    height: 30px;
    background-color: white; /* 스위치 색상 */
    border-radius: 20px; /* 둥근 모서리 */
    transition: transform 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.main-btn:hover {
    background-color: #850000; /* 마우스 오버 시 배경색 */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* 마우스 오버 시 그림자 효과 */
}

.main-btn.active {
    background-color: #850000; /* 활성화 시 배경색 */
}

.main-btn .label {
    margin-left: 45px;
    position: relative; /* 위치 조정 */
    z-index: 1; /* 토글 요소보다 위에 표시 */
}
.main-btn .label.isVerified {
    margin-left: 35px;
    position: relative; /* 위치 조정 */
    z-index: 1; /* 토글 요소보다 위에 표시 */
}

.main-btn.isVerified {
    background-color: green;
}

.main-btn.cursor-not-allowed {
    pointer-events: none; /* 클릭 이벤트 비활성화 */
    cursor: not-allowed; /* hover 상태에서 커서 변경 */
    opacity: 0.6; /* 비활성화된 버튼의 시각적 효과 */
}


.btn-next {
    background-color: green; /* 진한 초록색 */
    color: white;
    padding: 16px 24px; /* 여백 조정 */
    border-radius: 25px; /* 둥근 모서리 */
    /*font-size: 16px; !* 글자 크기 *!*/
    font-weight: bold; /* 글자 두께 */
    text-decoration: none; /* 밑줄 제거 */
    transition: background-color 0.3s, box-shadow 0.3s; /* 부드러운 전환 효과 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.btn-next:hover {
    background-color: #005b00; /* 마우스 오버 시 색상 변화 */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* 마우스 오버 시 그림자 효과 변화 */
}

.btn-disabled {
    background-color: #e0e0e0; /* 연한 회색 */
    color: #a0a0a0; /* 비활성화된 텍스트 색상 */
    padding: 12px 24px; /* 여백 조정 */
    border-radius: 25px; /* 둥근 모서리 */
    font-size: 16px; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    display: inline-block; /* 블록 요소처럼 보이도록 설정 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: not-allowed; /* 커서 변경 */
}

.form-control {
    border: 1px solid #d1d5db; /* 회색 테두리 */
    border-radius: 8px; /* 둥근 모서리 */
    padding: 12px; /* 패딩 */
    transition: border-color 0.3s; /* 테두리 색상 부드러운 전환 */
}

.form-control:focus {
    border-color: #3b82f6; /* 포커스 시 테두리 색상 */
}

.btn {
    background-color: #3b82f6; /* 기본 배경색 */
    color: white;
    padding: 12px 24px; /* 여백 조정 */
    border-radius: 8px; /* 둥근 모서리 */
    font-size: 16px; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    text-decoration: none; /* 밑줄 제거 */
    transition: background-color 0.3s, transform 0.2s; /* 부드러운 전환 효과 */
}

.btn:hover {
    background-color: #2563eb; /* 마우스 오버 시 색상 변화 */
    transform: translateY(-2px); /* 약간 위로 이동 */
}

.btn-next {
    background-color: #4caf50; /* 진한 초록색 */
    color: white;
    padding: 12px 24px; /* 여백 조정 */
    border-radius: 25px; /* 둥근 모서리 */
    font-size: 16px; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    text-decoration: none; /* 밑줄 제거 */
    transition: background-color 0.3s, box-shadow 0.3s; /* 부드러운 전환 효과 */
}

.btn-next:hover {
    background-color: #45a049; /* 마우스 오버 시 색상 변화 */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* 마우스 오버 시 그림자 효과 변화 */
}

.disabled-link {
    background-color: #e0e0e0; /* 연한 회색 */
    color: #a0a0a0; /* 비활성화된 텍스트 색상 */
    padding: 12px 24px; /* 여백 조정 */
    border-radius: 25px; /* 둥근 모서리 */
    display: inline-block; /* 블록 요소처럼 보이도록 설정 */
    cursor: not-allowed; /* 커서 변경 */
}

@media (max-width: 768px) {
    .main-btn {
        width: 40%;
    }
}