<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>

<style>
    .small-font {
        font-size: 13px;
    }
</style>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>

    <div class="jumbotron">
        <div class="d-flex justify-content-between align-items-center">
            <h2>[[${ann.title}]]</h2>
        </div><hr/>

        <div style="overflow: hidden; border-radius: 10px; padding: 20px; background: rgba(246,69,69,0.66)">
            <div class="text-start">
                <h4><div th:utext="${#strings.replace(ann.content, '\n', '<br/>')}"></div></h4>
            </div>
        </div><br><br>

        <div class="d-flex justify-content-between align-items-end">
            <h2>게시판</h2>
            <a th:href="@{/board/list}" class="btn btn-sm" role="button" style="padding: 5px 5px; font-size: 20px;">+</a>
        </div> <hr/>

        <div class="d-flex justify-content-between align-items-end">
            <h5>최근 게시글</h5>
        </div>
        <div>
            <table class="table table-striped">
                <thead> <tr>
                    <th>#</th> <th>제목</th> <th><span class="material-symbols-outlined" style="font-size: 20px">thumb_up</span></th> <th>작성 일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board, iterStat : ${recentBoard}">
                    <td th:text="${iterStat.count}"></td>
                    <td>
                        <a class="small-font" th:href="@{/board/{id}(id=${board.id})}"
                           th:text="${#strings.length(board.title) > 5 ? #strings.substring(board.title, 0, 5) + '...' : board.title}"></a>
                    </td>
                    <td class="small-font" th:text="${board.likeNumber.size()}"></td>
                    <div th:if="${board.editTime == null}">
                        <td class="small-font" th:text="${#temporals.format(board.writeTime, 'MM-dd')}"></td>
                    </div>
                    <div th:unless="${board.editTime == null}">
                        <td class="small-font" th:text="${#temporals.format(board.editTime, 'MM-dd') + ' (수정)'}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div> <br>
        <div class="d-flex justify-content-between align-items-end">
            <h5>최근 7일간 HOT🔥 게시글</h5>
        </div>
        <div>
            <table class="table table-striped">
                <thead> <tr>
                    <th>#</th> <th>제목</th> <th><span class="material-symbols-outlined" style="font-size: 20px">thumb_up</span></th> <th>작성 일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board, iterStat : ${hotBoard}">
                    <td th:text="${iterStat.count}"></td>
                    <td>
                        <a class="small-font" th:href="@{/board/{id}(id=${board.id})}"
                           th:text="${#strings.length(board.title) > 5 ? #strings.substring(board.title, 0, 5) + '...' : board.title}"></a>
                    </td>
                    <td class="small-font" th:text="${board.likeNumber.size()}"></td>
                    <div th:if="${board.editTime == null}">
                        <td class="small-font" th:text="${#temporals.format(board.writeTime, 'MM-dd')}"></td>
                    </div>
                    <div th:unless="${board.editTime == null}">
                        <td class="small-font" th:text="${#temporals.format(board.editTime, 'MM-dd') + ' (수정)'}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div> <br>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>
