<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div style="margin:100px;">
    <div style="text-align: center">
        <h1><a>인하대학교 전자공학과 학생회 SWITCH</a></h1>
        <a th:href="|https://pf.kakao.com/_CxjxlxiM|" target="_blank"><img src="https://tistory1.daumcdn.net/tistory/5128218/skin/images/inhaeelogo.png" alt="학생회 로고"></a>    </div>
    <br>
    <h1>이메일 인증을 위해 비밀번호 변경 창으로 돌아가 아래 코드를 입력해 주세요.</h1>
    <br>

    <div align="center" style="border:1px solid black;">
        <h3>비밀번호 변경 인증 코드</h3>
        <div style="font-size: 200%" th:text="${verifyCode}"></div>
        &nbsp;
    </div>
    <br/>
</div>

</body>
</html>