<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>인하대 전자공학과 학생회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <!--    <div class="jumbotron">-->
    <h2>비밀번호 변경</h2>
    <br>
    <form th:method="post" th:action="|/changePassword|" th:object="${changePasswordRequest}">
        <!-- hidden input 추가 -->
        <input type="hidden" name="loginStuId" th:value="${loginStuId}" />
        <input type="hidden" name="loginName" th:value="${loginName}" />
        <div>
            <a>학번</a>
            <a>[[${loginStuId}]]</a>
        </div>
        <br/>

        <div>
            <a>이름</a>
            <a>[[${loginName}]]</a>
        </div>
        <br/>
        <div>
            <label th:for="password">현재 비밀번호</label>
            <input type="password" th:field="*{currentPassword}" th:errorclass="error-input" class="form-control" placeholder="비밀번호를 입력하세요">
            <div class="error-class" th:errors="*{currentPassword}"></div>
        </div>
        <br/>
        <div>
            <label th:for="password">변경 비밀번호</label>
            <input type="password" th:field="*{changePassword}" th:errorclass="error-input" class="form-control" placeholder="비밀번호를 입력하세요">
            <div class="error-class" th:errors="*{changePassword}"></div>
        </div>
        <br/>

        <div>
            <label th:for="passwordCheck">변경 비밀번호 체크</label>
            <input type="password" th:field="*{changePasswordCheck}" th:errorclass="error-input" class="form-control" placeholder="비밀번호를 한번 더 입력하세요">
            <div class="error-class" th:errors="*{changePasswordCheck}"></div>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">비밀번호 변경</button> <br/><br/>

    </form>
    <br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>


<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>