<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragments/header :: header}"></head>
<style>
    .inline-elements{
        display: flex;
        align-items: center;
    }
    /* 기본 폰트 크기 설정 */
    input::placeholder {
        font-size: 16px; /* 데스크탑 기준 폰트 크기 */
    }

    /* 화면 너비가 768px 이하일 때 적용될 스타일 */
    @media (max-width: 768px) {
        input::placeholder {
            font-size: 14px; /* 모바일 기기용 폰트 크기 */
        }
    }
</style>


<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>

    <!--    <div class="jumbotron">-->

    <h2>비밀번호 찾기</h2><br/>
    <form th:method="post" th:action="|/findPassword|" class="form-inline">

        <a>학번</a>
        <div class="inline-elements">
            <input class="form-control input-large" type="text" id="stuId" th:name="stuId"
                   th:attr="placeholder=${isStuIdInput} ? ${stuId} : '학번을 입력하세요'"
                   style="width: 60%">
            &nbsp; <button type="submit" class="btn btn-outline-secondary btn-sm">입력</button>
        </div>
    </form>
    <br>

    <a>이메일 인증</a><br>
    <form th:method="post" th:action="@{/findPassword/{stuId}/email(stuId=${stuId})}" class="form-inline">

        <div class="inline-elements">
            <input disabled class="form-control input-large"
                   th:attr="placeholder=${isStuIdInput} ? ${email} : ''"
                   style="width: 60%">


            <input type="hidden" th:id="email" th:name="email" th:value="${email}">
            &nbsp;
            <div th:if="${!isStuIdInput}">
                <button disabled type="submit" class="btn btn-outline-secondary btn-sm">메일 전송</button>
            </div>
            <div th:if="${isStuIdInput}">
                <button type="submit" class="btn btn-secondary btn-sm">메일 전송</button>
            </div>

        </div>
    </form>

    <br>
    <form th:method="post" th:action="@{/findPassword/{stuId}/email/verify (stuId=${stuId})}" class="form-inline">

        <div class="inline-elements">
            <input th:disabled="${!isEmailSent}" th:id="code" th:name="code"  class="form-control input-large"
                   placeholder="전송된 인증 문자를 입력하세요" style="width: 60%">
            &nbsp;
            <div th:if="${!isEmailSent}">
                <button disabled type="submit" class="btn btn-outline-secondary btn-sm">인증</button>
            </div>
            <div th:if="${isEmailSent}">
                <button type="submit" class="btn btn-secondary btn-sm">인증</button>
            </div>
        </div>
    </form>

    <br>

    <h5 th:if="${isEmailChecked}">이메일이 인증되었습니다!</h5>


    <div style="text-align: right">
        <!-- isEmailChecked가 true일 때 -->
        <a th:href="@{/findPassword/{stuId}/reset (stuId=${stuId})}" class="btn btn-success" th:if="${isEmailChecked}">다음으로</a>
        <!-- isEmailChecked가 false일 때 -->
        <span class="btn btn-outline-secondary disabled-link" th:if="${!isEmailChecked}">다음으로</span>
    </div>

    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>
