<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: header}"></head>
<body class="h-full">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>

<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 flex items-center">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">비밀번호 찾기 (3/3)</h1>
        <div class="ml-6">
            <div class="h-1 w-24 bg-blue-600 mb-1"></div>
            <div class="flex justify-start text-blue-600 text-sm">Step 1</div>
            <div class="flex justify-start text-gray-600 text-sm">학번, 전화번호 입력</div>

        </div>

        <div class="ml-6">
            <div class="h-1 w-24 bg-blue-600 mb-1"></div>
            <div class="flex justify-start text-blue-600 text-sm">Step 2</div>
            <div class="flex justify-start text-gray-600 text-sm">이메일 검증</div>
        </div>

        <div class="ml-6">
            <div class="h-1 w-24 bg-gray-300 mb-1"></div>
            <div class="flex justify-start text-blue-600 text-sm">Step 3</div>
            <div class="flex justify-start text-gray-600 text-sm">비밀번호 재설정</div>
        </div>
    </div>
</header>

<main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 mb-6">
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" th:action="|/findPassword/reset|" th:object="${request}" method="POST">
                <div>
                    <label th:for="changePassword" class="block text-sm font-medium leading-6 text-gray-900">변경 비밀번호</label>
                    <div class="mt-2 mb-2">
                        <input type="password" th:field="*{changePassword}" class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                               placeholder="비밀번호를 입력하세요">
                        <div class="error-class text-red-500 mt-1" th:errors="*{changePassword}"></div>
                    </div>

                    <label th:for="changePasswordCheck" class="block text-sm font-medium leading-6 text-gray-900">변경 비밀번호 체크</label>
                    <div class="mt-2">
                        <input type="text" th:field="*{changePasswordCheck}" class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                               placeholder="비밀번호를 한번 더 입력하세요">
                        <div class="error-class text-red-500 mt-1" th:errors="*{changePasswordCheck}"></div>
                    </div>
                </div>

                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-blue-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-900">
                        다음으로
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>