<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <h2>비밀번호 변경</h2><br/>
    <form th:method="post" th:action="@{/findPassword/{stuId}/reset (stuId=${stuId})}" th:object="${request}">
        <div>
            <label th:for="changePassword">변경 비밀번호</label>
            <input type="password" th:field="*{changePassword}" th:errorclass="error-input"
                   class="form-control" placeholder="비밀번호를 입력하세요">
            <div class="error-class" th:errors="*{changePassword}"></div>
        </div>
        <br/>

        <div>
            <label th:for="changePasswordCheck">변경 비밀번호 체크</label>
            <input type="password" th:field="*{changePasswordCheck}" th:errorclass="error-input"
                   class="form-control" placeholder="비밀번호를 한번 더 입력하세요">
            <div class="error-class" th:errors="*{changePasswordCheck}"></div>
        </div>
        <br/>
        <div style="text-align: right">
            <button type="submit" class="btn btn-outline-success">비밀번호 변경</button> <br/><br/>
        </div>

    </form>


    <br>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
<style>
    .error-class {
        color: red;
    }
    .error-input {
        border-color: red;
    }
</style>

</html>




